  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= restaurant.name %></h5>
      <p class="card-text"><%= restaurant.category %></p>
      <p class="card-text"><%= restaurant.address %></p>
      <p class="card-text"><%= restaurant.phone_number %></p>
      <%= link_to "Reviews", restaurant_path(restaurant), class: "btn btn-primary" %>
    </div>
  </div>
